<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.maarten.ssh-auth-sock</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/launchctl</string>
    <string>setenv</string>
    <string>SSH_AUTH_SOCK</string>
    <string>/Users/maarten/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
